<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/Assets/styles/style.css">
    <title>Quienes Somos</title>
</head>
<body>
    <div class="encabezado-img">
        <h1>Medellín Verde</h1>
   </div>
    <header>
        <nav>
            <ul class="menu-horizontal">
             <li>
                 <a href="#">Menú</a>
                 <ul class="menu-vertical">
                     <li><a href="/index.html">Home</a></li>
                     <li><a href="#dashboard">Dashboard</a></li>
                 </ul>
             </li>
             <li>
                 <a href="#">Servicios</a>
                 <ul class="menu-vertical">
                     <li><a href="#service">Informes de análisis</a></li>
                     <li><a href="#service">Herramientas predictivas</a></li>            
                 </ul>
             </li>
             <li>
                 <a href="#">Datos</a>
                 <ul class="menu-vertical">
                     <li><a href="#datos">Origen</a></li>
                     <li><a href="#datos">Importancia</a></li>
                     <li><a href="#datos">Actualizaciones</a></li>
                 </ul>
             </li>
             <li>
                 <a href="#">Adicionales</a>
                 <ul class="menu-vertical">
                     <li><a href="#testimonios">Testimonio</a></li>
                     <li><a href="#noticias">Noticias</a></li>
                     <li><a href="#faq">FAQ</a></li>
                     <li><a href="#recursos">Recursos educativos</a></li>
                 </ul>
             </li>
            </ul>
             
              
           </nav> 
    </header>
    <h1 class="tituloQuienes">Quienes somos</h1>
<div class="cuadroGeneral">
    <div class="Keylly">
        <div class="imagenk">
            <img src="/Assets/fotos/Keylly Paniagua.jpg" alt="">
        </div>
        <div class="textok">
            <h2>Keylly Paniagua</h2>
            <p>Keylly es una pieza invaluable en el equipo de análisis de datos, gracias a su excepcional capacidad para manifestar emociones y su obsesión por la excelencia. Aunque el mundo del análisis de datos tiende a enfocarse en lo técnico y lo objetivo, Keylly aporta una dimensión humana al trabajo, mostrando empatía y comprensión hacia los desafíos y necesidades del equipo. Además, su obsesión por la excelencia se refleja en cada aspecto de su labor; desde la recopilación de datos hasta la presentación de resultados, no descansa hasta alcanzar los más altos estándares de calidad. Esta combinación de sensibilidad emocional y búsqueda incansable de la perfección la convierte en una colaboradora excepcional, capaz de impulsar el proyecto hacia niveles de excelencia sin precedentes.</p>
        </div>
    </div>
    <div class="JoseDaniel">
        <div class="imagenj">
            <img src="/Assets/fotos/Jose Daniel.jpg" alt="Juan Daniel">
        </div>
            <div class="textoj">
            <h2>Jose Daniel</h2>
            <p>Dentro del proyecto de análisis de datos, Jose destaca por su inquebrantable responsabilidad y resiliencia excepcional. Como miembro del equipo, asume sus tareas con un sentido de compromiso y dedicación que inspira a sus colegas. Su fiabilidad es evidente en cada aspecto de su trabajo, desde la recopilación meticulosa de datos hasta el cumplimiento de los plazos más ajustados. Además, frente a los desafíos y obstáculos que puedan surgir, Jose demuestra una resiliencia impresionante; no se deja desanimar por las dificultades, sino que las enfrenta con determinación y adaptabilidad. Su combinación de responsabilidad y resiliencia lo convierte en un activo invaluable para el equipo, capaz de superar cualquier adversidad y llevar el proyecto hacia el éxito.</p>
        </div>
    </div>
    <div class="Julian">
        <div class="imagenju">
            <img src="/Assets/fotos/Julian Álvarez.jpg" alt="Julian Álvarez">
        </div>
        <div class="textoju">
            <h2>Julian Alvarez</h2>
            <p>Julian se destaca dentro del proyecto de análisis de datos por su notable perseverancia y profunda empatía. Su persistencia incansable lo impulsa a enfrentar los desafíos más difíciles con determinación y optimismo, nunca se rinde ante la adversidad. Además, su habilidad para comprender las experiencias y necesidades de sus colegas demuestra una empatía genuina que fortalece el equipo y fomenta un ambiente de colaboración y apoyo mutuo. Julian no solo busca alcanzar los objetivos del proyecto, sino que también se preocupa por el bienestar de quienes lo rodean, creando un entorno donde todos se sienten valorados y comprendidos. Su combinación de perseverancia y empatía lo convierte en una pieza fundamental para el éxito del equipo de análisis de datos.</p>
        </div>
    </div>
    <div class="Melany">
        <div class="imagenm">
            <img src="/Assets/fotos/Melany Valle.jpg" alt="Melany Valle">
        </div>
        <div class="textom">
            <h2>Melany Valle</h2>
            <p>Dentro del equipo de análisis de datos, Melany destaca por su profundo pensamiento sistémico y su creatividad desbordante. Su capacidad para visualizar interconexiones complejas entre variables y comprender cómo afectan el conjunto del análisis es verdaderamente impresionante. Siempre busca entender el panorama completo antes de abordar cualquier problema, lo que le permite identificar patrones y tendencias que otros podrían pasar por alto. Además, su enfoque creativo le permite pensar más allá de los métodos convencionales, proponiendo soluciones innovadoras para desafíos difíciles. Su combinación única de pensamiento estructurado y creatividad lo convierte en un activo invaluable para el equipo, capaz de generar ideas frescas y perspectivas únicas que impulsan el proyecto hacia adelante.</p>
        </div>
    </div>
    <div class="DanielRios">
        <div class="imagend">
            <img  src="/Assets/fotos/Daniel Rios.jpg" alt="Daniel Rios">
        </div>
        <div class="textod">
            <h2>Daniel Rios</h2>
            <p>Dentro del equipo de análisis de datos, Daiel sobresale por su integridad, puntualidad y habilidad para la lógica. Su honestidad es fundamental en un entorno donde la precisión y la transparencia son cruciales. Siempre se asegura de que los datos sean tratados con la máxima ética y rigor, garantizando resultados confiables y veraces. Además, su puntualidad es encomiable; cumple con los plazos establecidos con diligencia, lo que permite mantener el flujo de trabajo en el proyecto sin contratiempos. Pero lo que realmente distingue a Daniel es su aguda habilidad para la lógica aplicada al análisis de datos; puede desentrañar patrones complejos y encontrar insights significativos con una precisión admirable. Su enfoque metódico y su capacidad para pensar de manera analítica hacen de él un activo invaluable para el equipo.</p>
        </div>
    </div>
</div>
</body>
</html>