.accordion .img-box{    
    height: 60%;
    width: 60%;
    float: left;
    padding-left: 5px;
   object-fit: contain;
   mix-blend-mode: multiply;

}

.accordion{
  display: flex;
  padding: 45px 90px 20px 5px;
  background-color:#98bea4 ;
  height: 700px;
  width: 100%;
  border-radius: 9px;
  justify-content: space-between;
} 

.titulo{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 25px;
    text-align: center;
    color: blue;
}

.accordion-text .faq-text li{
    list-style: none;
    margin-top: 15px;
} 

.faq-text li .preguntas .texto{
    font-size: 18px;
    font-weight: 500;
    color: #595959;
}

.faq-text li {
    position: relative; } 

.faq-text li .arrow {
    position: absolute;
    top: 50%;
    right: 10px; 
    transform: translateY(-50%);
    font-size: 20px;
    color: #595959;
    cursor: pointer; 
} 

.faq-text li .texto {
    margin-right: 30px; 
    display: block;
 
} 

.faq-text li:hover .texto {
    color: blue;
}

.faq-text li {
    position: relative;
    margin-bottom: 20px;
} 

.faq-text li p{
    color:black;
    width: 92%;
    font-size: 15px;
    font-weight: 500;
}

/*RESPONSIVE DESIGN*/



@media screen and (max-width: 1000px){
    .accordion {
    display: flex;
    width: 95%;
    align-items: center;  
    flex-direction: column;
    height: 80%;
    background-color: #98bea4;
    border-radius: 10px;
    font-size: 15px;
    text-align: center;
    }
}
/*
@media screen and (min-width: 600px){
        .accordion {
        display: flex;
        width: 70%;
        align-items: center;  
        flex-direction: column;
        
        background-color: #98bea4;
        border-radius: 10px;
        font-size: 15px;
        text-align: center;
}
}